main {
    min-height: 100vh;
}
body {
    background-image: url('img/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
}
.navbar-toggler {
    margin-right: -75px!important;
    position: relative!important;
}
.navbar {
    position: relative;
    left: -30px;
}
.fa-bars {
    height: 5px;
    background-color: black;
    width: 10px;
}
.burger-ul {
    cursor: pointer;
    padding-top: 20px;
}
.burger-ul li{
    list-style: none;
    width: 30px;   
    height: 4px;
    transition: .5s;
    background: rgba(61, 16, 51, 1);
    transform: translateY(-50%) rotate(0);
    opacity: 1;
    margin-top: 4px;
    border-radius: 20px;
}
.nav-items {
    list-style: none;
    display: flex;
}
.navbar-brand span {
    color: #3D1033;
    font-size: 32px;
    font-weight: 700;
    padding-left: 14px;
}
.nav-items {
    font-size: 20px;
    font-weight: 600;
}
.nav-item {
    padding: 15px;
    color: #554045;
    cursor: pointer;
}
.nav-item:hover {
    text-decoration: none;
}
.btn-bave-assets {
    height: 35px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.btn-bave-assets-left {
    background: rgba(225, 163, 106, 1);
    width: 160px;
    z-index: 2;
}
.btn-bave-assets-right {
    background:rgba(85, 64, 69, 1);
    width: 240px;
    font-weight: 600;
    left: -35px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-bave-assets-right:hover {
    color: white;
    text-decoration: none;
}
.arrow {
    position: relative;
    left: 30px;
    top: -2px;
}
.main-header {
    font-weight: 800;
    font-size: 70px;
    color: #3D1033;
    line-height: 67px;
}
.underheader-text {
    font-size: 18px;
    color: rgba(85, 64, 69, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
}
.underheader-text-row {
    width: 60%;
}
.btn-group {
    width: 230px;
    height: 60px;
    border-radius: 100px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
@keyframes animate-btn {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.btn-group-fill {
    background: linear-gradient(90deg, rgba(249, 125, 125, 1), rgba(172, 32, 69, 1));
    color: white;
}
.btn-group-fill img, .btn-group-fill span {
    position: relative;
    padding: 0 7px 0 7px;
}
.btn-group-empty {
    margin-left: 30px;
    border: 1px solid rgba(85, 64, 69, 1);
    color: rgba(85, 64, 69, 1);
    transition: 0.3s;
}
.btn-group-empty:hover
{
    color: white;
    background-color: rgba(85, 64, 69, 1);
}

.social-ions a {
    margin: 10px;
}
.social-icon {
    width: 35px;
}
.row-footer {
    background: rgba(85, 64, 69, 1);
}
.footer-inner {
    height: 55px;
    color: white;
    font-size: 18px;
}
.main {
    margin-top: 10%;
}
@media(min-height: 700px) {
    .main {
        margin-top: 7%;
    }  
}
@media(min-height: 1200px) {
    .main {
        margin-top: 35%;
    }  
}
@media(min-height: 1200px) {
    .main {
        margin-top: 15%;
    }  
}
@media(min-height: 1500px) {
    .main {
        margin-top: 20%;
    }  
}
/* @media(min-height: 2200px) {
    .main {
        margin-top: 30%;
    }  
} */
.header-row {
    margin-top: 30px;
}
.underheader-text-row, .buttons-group, .social-ions {
    margin-top: 30px;
}
/* .row-footer-fluid {
    position: absolute;
    bottom: 0;
    z-index: 10;
} */
/* @media(max-height: 739px) {
    .row-footer-fluid {
        position: relative;
        bottom: 0;
        z-index: 10;
    }   
} */

@media(max-width: 768px) {
    .footer-none {
        display: none;
    }
    .main-header {
        font-size: 48px;
        line-height: 40px;
    }
    .button-layer-second {
        position: relative;   
        left: -230px; 
    }
    .btn-group {
        width: 230px;
    }
    .underheader-text-row {
        width: 100%;
    }
    main {
        background-image: url('img/Background.svg');
        background-repeat: no-repeat;
        background-position-x: 30%;
    }
    .btn-bave-assets-row {
        margin-top: 90px;
        margin-bottom: 60px;
    }
}
@media(max-width: 577px) {
    .underheader-text-row, .buttons-group, .social-ions {
        margin-top: 25px;
    }
    .btn-1 {
        width: 100%!important;
    }
    .social-ions {
        justify-content: center;
    }
    .main-header {
        font-size: 36px;
        line-height: 35px;
    }
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .btn-group {
        width: 100%;
    }
    .btn-group-empty {
        margin-left: 0;
        top: 20px;
        left: 0px;
    }
    .btn-bave-assets-row {
        margin-top: 20px!important;
    }
    .btn-bave-assets {
        padding: 0;
    }
    .btn-bave-assets-left {
        width: 40%;
        position: relative;
        top: 35px;
        font-size: 14px;
    }
    .btn-bave-assets-right {
        width: 100%;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        padding-right: 15%;
        position: static;
    }
    .btn-bave-assets-right span{
        padding-left: 20px;
        left: -20px;
    }
    .btn-bave-assets-right img{
        left: 30px;
    }
}
@media(max-width: 426px) {
    .main-header {
        font-size: 36px;
        line-height: 35px;
    }
}
@media(max-width: 400px) {
    .btn-bave-assets-left {
        font-size: 12px;
    }
}
@media(max-width: 336px) {
    .btn-bave-assets-right {
        font-size: 12px;
    }
}
.container-dog {
    position: absolute;
    top: 40%!important;
    left: 55%;
    max-height: 50%;
    z-index: 10;
}
.block__parent {
    position: absolute;
    width: 100%;
    z-index: -1;
}
.container-bottom-coins {
    z-index: -2;
}
  
.block {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    width: 55px;
    height: 50px;
}
.btc-coin {
    background: url('img/btc.svg');
}
.eth-coin {
    background: url('img/eth.svg');
}
.ltc-coin {
    background: url('img/ltc.svg');
}
.coin-1 {
    margin-top: 25%;
}
.coin-2 {
    margin-top: 90%;
    margin-left: 120%;
}
.coin-3 {
    margin-top: 45%;
    margin-left: 100%;
}
.coin-4 {
    margin-top: 80%;
    margin-left: 90%;
}
.coin-5 {
    margin-top: 100%;
    margin-left: -10%;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}
.coin-6 {
    margin-top: 20%;
    margin-left: 130%;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
.coin-7 {
    margin-top: 72%;
    margin-left: 7%;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
.full-dog {
    z-index: 999;
}
.b-coin {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 20px;
}
.b-coin-1 {
   background: url('img/b1.png'); 
   background-repeat: no-repeat;
   left: -20%;
   top: 90%;
}
.b-coin-2 {
    background: url('img/b2.png'); 
    background-repeat: no-repeat;
    left: 30%;
    top: 105%;
}
.b-coin-3 {
    background: url('img/b3.png'); 
    background-repeat: no-repeat;
    left: 110%;
    top: 95%;
}
.b-coin-4 {
    background: url('img/b4.png'); 
    background-repeat: no-repeat;
    left: 120%;
    top: 87%;
}
@keyframes cloud {
    0% {
        top: -40%;
    }
    50% {
        top: -47%;
    }
    100% {
        top: -40%;
    }
}
.cloud-dog {
    opacity: 0;
    height: 0%;
    /* top: 30%; */
    transition: height 3s ease-in, opacity 3s ease-in, top 3s ease-in;
    position: absolute;
    left: 70%;
    width: 80%;
}
@media(max-width: 1920px) {
    .block__parent {
        width: 90%;
    }
    .full-dog {
        width: 90%;
    }
}
@media(max-width: 1700px) {
    .block__parent {
        width: 85%;
    }
    .full-dog {
        width: 85%;
    }
}
@media(max-width: 1500px) {
    .block__parent {
        width: 80%;
    }
    .full-dog {
        width: 80%;
    }
    .cloud-dog {
        position: absolute;
        left: 57%;
        top: -45%;
        width: 60%;
    }
    .container-dog {
        position: absolute;
        top: 45%;
        left: 60%;
    }
    .b-coin-3 {
        left: 80%!important;
        top: 95%;
    }
    .b-coin-4 {
        left: 95%!important;
        top: 87%;
    }
}
@media(max-width: 1200px) {
    .btn-bave-assets-row {
        margin-top: 70px;
    }
    .coin-1, .coin-2, .coin-3, .coin-4 {
        background-size: 75% 75%;
        background-repeat: no-repeat;
    }
    .coin-6, .coin-7 {
        background-size: 60% 60%;
    }
    .block__parent {
        width: 70%;
    }
    .full-dog {
        width: 70%;
    }
    .container-dog {
        position: absolute;
        top: 50%!important;
    }
    .cloud-dog {
        position: absolute;
        left: 47%;
        top: -45%;
        width: 60%;
    }
}
.btn-top {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-weight:700;
    font-size:18px;
    top: -10px;
}
.btn-top svg {
    position: absolute;
    top: 5px;
    left: -5px;
}

.btn-top svg rect {
    stroke-width: 3;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn-top span{
    background: #AC2045;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 5px;
}
.btn-top:hover {
    text-decoration: none;
}

.btn-top:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 140, 543;
    stroke-dashoffset: 437;
}
.btn-1 {
    width: 230px;
    height:60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: rgba(255,255,255,0.9);
    border-radius: 50px;
    background: linear-gradient(-90deg, #F97D7D, #AC2045, #F97D7D, #AC2045);
    background-size: 600%;
    animation: anime 10s linear infinite;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.btn-1:hover
{
    animation: none;
    background-color: #AC2045;
}
.btn-1:focus {
    outline: none;
}
.btn-1 img, .btn-1 span {
    padding: 7px;
}
.btn-1:active {
    outline: none;
    border: none;
}
     
 @keyframes anime {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
/* @media(max-width: 990px) {
    .row-footer-fluid {
        position: relative;
        bottom: 0;
    }
} */
@media(max-width: 492px) {
    /* .row-footer-fluid {
        position: relative;
        bottom: 0;
    } */
    .social-ions a {
        margin: 8px;
    }
}
@media(max-width: 992px) {
    .footer-inner span {
        font-size: 16px;
    }
    .footer-dog {
        display: block!important;
        /* position: ; */
        bottom: -5px;
        position: relative
    }
    .container-dog {
        display: none;
    }
    .btn-bave-assets-row {
        margin-top: 50px;
    }
}